{% extends 'base.html'%}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{%endblock%}
{%block content%}

  <main class="main=content my-4">
      <div class="hero-section text-center position-relative">
            <img src="{% static 'images/table2.avif' %}" class="img-fluid w-100 hero-image" alt="Restaurant Table">
      
            <div class="hero-text position-absolute top-50 start-50 translate-middle text-white">
               <h2 class="fw-bold display-6">Book a table at your favorite restaurant</h2>
               <p class="lead">Get served instantly and enjoy your dining experience.</p>
            </div>
      </div>
       <div class="text-center mt-4">
         <a href="{% url 'all_restaurants' %}" class="link-book">
               Book at your favourite restaurants
        </a>
    </div>
 </main>
{%endblock%}

