{%extends 'base.html'%}
{% load static %}

{%block extra_css%}
<link rel="stylesheet" href="{% static 'css/search.css'%}">
{%endblock%}

{% block title %}search{%endblock%}

{% block content %}

  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h3>search result for <span class="text-info">"{{request.GET.keyword}}"</span></h3>
          </div>
      </div>
  </div>

{% for restaurant in restaurants %}
<div class="main">
    <div class="restaurant">
      <a href="{% url 'restaurant_detail' restaurant.id %}">
      <img src="{{restaurant.img}}" alt="">
      <h3>{{ restaurant.name }}</h3>
      <p>{{ restaurant.location }}</p>
      </a>
    </div>
  {% empty %}
    <p>No restaurants found.</p>
  {% endfor %}
</div>


{%endblock%}