body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}
.dashboard {
    display: flex;
    align-items: flex-start;
}
.sidebar {
    width: 240px;
    height: 100vh;
    background-color: black;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px 0;
}
.sidebar .logout {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    padding: 15px 20px;
}
.sidebar ul li a {
    color: aliceblue;
    text-decoration: none;
    display: block;
}
.sidebar ul li.active,
.sidebar ul li:hover {
    background: #333;
}
.sidebar .logout {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}
.sidebar .logout a {
    color: #f00;
    text-decoration: none;
}
.content {
    margin-left: 260px;
    width: calc(100% - 260px);
    padding: 30px;
}
.content h1 {
    margin-top: 0;
    padding-top: 0;
}
h1 {
    margin-top: 0;
}
.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}
.card {
    background-color: white;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}
.card p {
    font-size: 22px;
    margin-top: 10px;
}
.section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}
table th, table td {
    padding: 12px;
    border: 1px solid black;
}
table th {
    background-color: #eee;
}