body {
    background-color: white;
    margin: 0;
    padding: 0;

}
.main{
    max-width: 1200px;
    width: 100%;
    background-color: white;
    border-radius: 16px;
    margin: 40px auto;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    display: flex;
    flex-direction: column;

}
.details img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 8px;
    border-bottom: 1px solid #fefefe;

}
.details {
    padding: 24px;

}
.details h2 {
    margin-bottom: 10px;
    font-size: 1.8rem;
    color: black;
}
.details .desc {
    color: rgb(33, 33, 33);
    margin-bottom: 12px;
    line-height: 1.5;
}
.details .loc {
    color: #424345;
    font-size: 0.95rem;
}
.bookpage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    border-bottom: 1px solid black;

}
.bookpage .book-btn {
    background-color: #2563eb;
    color: rgb(254, 253, 253);
    text-decoration: none;
    padding: 12px 28px;
    border-radius: 8px;
    font-weight: 600;
    transition: background-color 0.2s ease;


}
.bookpage .book-btn:hover {
  background-color: #1d4ed8;
}
.menu-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 30px;
}
.menu-gallery img {
    width: 120%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    transition: transform 0.3s ease;
}
.menu-section {
    padding-left: 20px;
}
.review-section {
    margin-top: 40px;
}
.review-section h3 {
    margin-bottom: 20px;
    font-weight: 600;
}
.card {
    border-radius: 12px;
}