.container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}

.main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    background-color: white;
    min-height: 50vh;
    
}
.restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.restaurant img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
}
.restaurant p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}
.restaurant h3 {
    margin-top: 10px;
    text-decoration: none;
}